.equipe-inside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: #f7f7f0; */
}

.equipe-inside .equipe-inside-imagem {
  grid-column: 2;
}

.equipe-inside .equipe-inside-title {
  grid-column: 1;
  grid-row: 1;
  margin: 0px 70px;
  font-family: "Poppins";
  font-weight: 300;
  text-transform: uppercase;
  color: #626249;
}

.equipe-inside .equipe-inside-texto {
  grid-column: 1;
  grid-row: 1;
  margin: 70px 100px 0px 70px;
  font-family: "IBM Plex Mono";
  color: #626249;
  line-height: 1.5rem;
}

.equipe-inside .equipe-inside-imagem2 {
  grid-column: 1;
  margin: 0;
}

.equipe-inside .equipe-inside-texto2 {
  grid-column: 2;
  margin: 70px;
  font-family: "IBM Plex Mono";
  color: #626249;
  line-height: 1.5rem;
}

.equipe-inside .equipe-inside-contato .titleSection {
  text-align: left;
  font-size: 2rem;
  margin: 120px auto 20px;
  line-height: 2.5rem;
  margin-left: 50px;
}

.equipe-inside .equipe-inside-contato .btnVerde {
  margin: 0px auto;
  margin-left: 50px;
}

.equipe-inside .equipe-inside-imagem3 img {
  height: 300px;
  margin: 100px 180px;
}
