.equipe {
  background-color: #fcfbf8;
  height: 1500px;
  overflow: hidden;
}

.equipe .socios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 50px;
}

.equipe .imagem3 {
  height: 220px;
  border-radius: 3px;
  grid-row: 1;
  grid-column: 2;
  margin-left: 135px;
  margin-top: 225px;
  filter: opacity(70%);
}

.equipe .imagem2 {
  height: 220px;
  border-radius: 3px;
  grid-row: 1;
  grid-column: 2;
  margin-left: 135px;
  filter: opacity(70%);
}

.equipe .imagem1 {
  height: 445px;
  border-radius: 3px;
  grid-row: 1;
  margin-left: 130px;
  filter: opacity(70%);
}

.equipe .curriculo {
  background-color: #f5ede0;
  position: relative;
  padding: 100px;
  height: 600px;
  width: 680px;
  margin: auto;
  margin-top: -120px;
  margin-left: 240px;
  border-radius: 3px;
  z-index: 300;
}

.equipe .curriculo h2 {
  font-family: "Poppins";
  font-weight: 200;
  line-height: 1.8rem;
  font-size: 2rem;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 90px;
  letter-spacing: 0.2rem;
  color: #7e7f70;
}

.equipe .curriculo p {
  font-family: "IBM Plex Mono";
  text-align: left;
  color: #7e7f70;
  line-height: 1.8rem;
  margin-bottom: 50px;
}

.equipe .curriculo .btnTransp {
  position: absolute;
  margin-left: 240px;
  font-size: 1.2rem;
}

@media (max-width: 900px) {
  .equipe {
    display: grid;
    grid-template-columns: 1fr;
  }
  .equipe .socios {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 100%;
    z-index: 500;
    margin: -1120px auto;
  }

  .equipe .curriculo {
    height: 700px;
    width: 300px;
    margin: auto;
    z-index: 400;
  }
  .equipe .curriculo h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  .equipe .curriculo .btnTransp {
    margin-left: auto;
    padding: 10px 75px;
    font-size: 1rem;
  }
  .equipe .socios .imagem2 {
    display: none;
  }
}
