.tratamentos {
  background-color: rgba(245, 237, 224, 0.8);
  height: 90vh;
}

.tratamentos .listaTratamentos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  justify-items: center;
  margin: 0 100px;
  padding-bottom: 100px;
}
.tratamentos .listaTratamentos li {
  background-color: #7e7f70;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 10px;
  height: 180px;
  width: 160px;
  text-align: center;
  color: #fcfbf8;
  align-content: end;
  padding-bottom: 50px;
}

.tratamentos .listaTratamentos li .btnVerde {
  width: 120px;
  font-size: 0.8rem;
  margin: auto;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
}

.tratamentos .listaTratamentos li img {
  margin: 15px auto;
  height: 20px;
}

@media (max-width: 1300px) {
  .tratamentos {
    height: 900px;
  }
}

@media (max-width: 900px) {
  .tratamentos .listaTratamentos li {
    font-size: 0.8rem;
    padding: 5px;
    border-radius: 10px;
    height: 200px;
    width: 160px;
  }

  .tratamentos .listaTratamentos {
    gap: 10px;
    margin-top: -40px;
  }
}

@media (max-width: 600px) {
  .tratamentos .listaTratamentos li {
    width: 120px;
  }
  .tratamentos .listaTratamentos li .btnVerde {
    width: 100px;
    font-size: 0.7rem;
  }
}
